version: "2"
services:
    judge_server:
        image: qduoj/judge_server
        read_only: true
        cap_drop:
            - SETPCAP
            - MKNOD
            - NET_BIND_SERVICE
            - SYS_CHROOT
            - SETFCAP
            - FSETID
        tmpfs:
            - /tmp
            - /judger_run:exec,mode=777
            - /spj:exec,mode=777
        volumes:
            - $PWD/tests/test_case:/test_case
            - /data/log:/log
            - $PWD/server:/code:ro
            - $PWD/token.txt:/token.txt
        environment:
            - service_discovery_url=https://virusdefender.net/service.php
            - service_url=http://1.2.3.4:12358
        ports:
            - "0.0.0.0:12358:8080"
