version: "2"
services:
    judge_server:
        image: registry.cn-hangzhou.aliyuncs.com/onlinejudge/judge_server
        read_only: true
        cap_drop:
            - SETPCAP
            - MKNOD
            - NET_BIND_SERVICE
            - SYS_CHROOT
            - SETFCAP
            - FSETID
        tmpfs:
            - /tmp
            - /judger_run:exec,mode=777
            - /spj:exec,mode=777
        volumes:
            - $PWD/tests/test_case:/test_case:ro
            - /data/log:/log
            - $PWD/server:/code:ro
        environment:
            - backend_url=http://backend:8000/api/judge_server_heartbeat
            - service_url=http://judge-server:12358
            - TOKEN=YOUR_TOKEN_HERE
        ports:
            - "0.0.0.0:12358:8080"
